<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Equipment Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<datalist id="operationsList">
    <option th:value="'Cleaning'">
    <option th:value="'Operation 1'">
    <option th:value="'Operation 2'">
    <option th:value="'Operation 3'">
        <!--    IN CASE OF LIST FROM BACKEND-->
        <!--    <option th:each="option : ${LIST OR ENUM}" th:value="${PROPERTY}">-->
</datalist>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 text-center">
            <h1 th:text="${equipment.equipmentName}" class="display-3"></h1>
            <h3 th:text="${equipment.equipmentDescription}"></h3>
            <!-- SUBMITTING OPERATION FORM -->
            <h3>Submit operation</h3>
            <form th:action="@{/equipment/equipmentPage/{id} (id = ${equipment.id})}" th:object="${newOp}"
                  method="post">
                <input th:type="datetime-local" th:field="*{operationStart}" class="form-control"
                       placeholder="Operation start"/>
                <br>
                <p th:if="${#fields.hasErrors('operationStart')}" th:errors="*{operationStart}" style="color: red"></p>

                <input th:type="search" th:field="*{operationDescription}" class="form-control" placeholder="Operation"
                       list="operationsList">

                <br>
                <p th:if="${#fields.hasErrors('operationDescription')}" th:errors="*{operationDescription}"
                   style="color: red"></p>

                <input type="datetime-local" th:field="*{operationFinish}" class="form-control"
                       placeholder="Operation finish"/>
                <br>
                <p th:if="${#fields.hasErrors('operationFinish')}" th:errors="*{operationFinish}"
                   style="color: red"></p>
                <button class="btn btn-success">Submit</button>
            </form>
        </div>
        <!-- ALL OPERATIONS FORMATTED -->
        <div class="col-10 text-center mt-5">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Operation start</th>
                    <th scope="col">Operation</th>
                    <th scope="col">Operation finish</th>
                    <th scope="col">Operator</th>
                    <th scope="col">Operation status</th>
                    <!-- ADMIN ROLE CHECKING -->
                    <th scope="col">Verification</th>
                    <!--                        -->
                </tr>
                </thead>
                <tbody>
                <tr th:each="operation : ${allOps}">
                    <td th:text="${operation.id}"></td>
                    <td th:text="${#temporals.format(operation.operationStart, 'dd.MM.yyyy HH:mm')}"></td>
                    <td th:text="${operation.operationDescription}"></td>
                    <td th:text="${#temporals.format(operation.operationFinish, 'dd.MM.yyyy HH:mm')}"></td>
                    <td th:text="'RESERVED'"></td>
                    <th:block th:if="${operation.operationStatus.name() == 'UNVERIFIED'}">
                        <td th:text="${operation.operationStatus}" style="color: red"></td>
                    </th:block>
                    <th:block th:if="${operation.operationStatus.name() == 'VERIFIED'}">
                        <td th:text="${operation.operationStatus}" style="color: green"></td>
                    </th:block>
                    <!-- ADMIN ROLE CHECKING -->
                    <th:block th:if="${operation.operationStatus.name() == 'UNVERIFIED'}">
                        <td>
                            <form th:action="@{/journal/{id}/{operId}/{page}/updateStatus (id = ${equipment.id} , operId = ${operation.id}, page = ${allOps.getNumber()})}"
                                  method="post">
                                <button class="btn btn-outline-success">Verify</button>
                            </form>
                        </td>
                    </th:block>
                    <th:block th:if="${operation.operationStatus.name() == 'VERIFIED'}">
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg>
                        </td>
                    </th:block>
                </tr>
                <!--                        -->
                </tbody>
            </table>
            <!-- PAGINATION -->
            <th:block th:if="${allOps.getTotalPages() != 0}">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Pages</a>
                    </li>
                    <th:block th:each="i : ${#numbers.sequence(1, allOps.getTotalPages())}">
                        <th:block th:if="${i - 1 == allOps.getNumber()}">
                            <li class="page-item active">
                                <a class="page-link" href="#" th:text="${i}"></a>
                            </li>
                        </th:block>

                        <th:block th:if="${i != -1 and i - 1 != allOps.getNumber()}">
                            <li class="page-item">
                                <a class="page-link" th:href="${url + '?page=' + (i - 1)}" th:text="${i}"></a>
                            </li>
                        </th:block>
                    </th:block>
                </ul>
            </th:block>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 text-center mt-5">
                <a href="/" class="btn btn-primary mb-5">Back to Homepage</a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>
</html>