<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="container content-center mt-5">
        <form th:action="@{/logout}" method="post" >
           <button class="btn btn-danger"> Logout</button>
        </form>
        <div class="row">
            <div class="col-4">
                <h3>Equipment <a th:href="@{equipment/newEquipment}" class="btn btn-primary">Add new equipment</a></h3>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Equipment</th>
                        <th scope="col">Page</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="equipment : ${allEquipment}">
                        <td th:text="${equipment.id}"></td>
                        <td th:text="${equipment.equipmentName}"></td>
                        <td>
                            <form th:action="@{/equipment/equipmentPage/{id} (id=${equipment.id})}" method="get">
                                <button class="btn btn-outline-success">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                         fill="currentColor" class="bi bi-file-earmark-fill" viewBox="0 0 16 16">
                                        <path d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z"/>
                                    </svg>
                                </button>
                            </form>
                        </td>
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <h3>Departments <a th:href="@{department/newDepartment}" class="btn btn-primary">Add new department</a>
                </h3>
            </div>
            <div class="col-4">
                <h3>Users <a th:href="@{user/newUser}" class="btn btn-primary">Add new User</a>
                </h3>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>
</html>